TELEGRAM_TOKEN=вставить_токен_от_BotFather
REPLICATE_API_TOKEN=вставить_токен_от_Replicate
DID_API_KEY=вставить_ключ_от_DID_в_base64
CHORUS_AUDIO_URL=https://github.com/dnagrooves-glitch/votivsyanashalubov-bot/raw/refs/heads/main/Chorus.wav
TRACK_URL=https://band.link/vcvotivsyanashalubov
